.DS_Store
__pycache__/
**.egg*

.devcontainer/
.vscode/
**/.ipynb_checkpoints
.idea/
Dockerfile
bin/
data-from-training-jpg/
distill_logs/
logs/
pretrained/
stylegan3-fork/
synthesized_images/
synthetic_dataset/
wandb/
wdb.py