.DS_Store
__pycache__/
**egg-info*

# vscode folders
.devcontainer
.vscode

# Folders with data and checkpoints
pretrained
synthesized_images
data-from-training-jpg/
distill_logs/
logs/
synthetic_dataset/
wandb/
wdb.py

# binaries
*.sh

# Docker 
Dockerfile