.DS_Store
__pycache__/
**egg-info*

# vscode folders
.devcontainer
.vscode

# Folders with data,logs and checkpoints
pretrained
synthesized_images
logs
wandb
distill_logs
data-from-training-jpg/
synthetic_dataset/


# binaries
*.sh

# Docker 
Dockerfile

#other 
wdb.py
